DJANGO_SETTINGS_MODULE="lol_stats_api.settings"
API_KEY="API_KEY"
INGAME_CALLS_API_KEY="INGAME_CALLS_API_KEY"
DEF_LANGUAGE="es_AR"
MONGO_DB_HOST="host.docker.internal"

CELERY_HOST="host.docker.internal"
CELERY_PORT="6379"
CELERY_DB="0"
CELERY_RESULT_DB="4"

REDIS_STATS_HOST="host.docker.internal"
REDIS_STATS_PORT="6379"

REDIS_METADATA_HOST="host.docker.internal"
REDIS_METADATA_DB="8"
REDIS_GAMEID_PROCESSED_DB="2"
REDIS_GAMELIST_DB="3"
REDIS_GAMEID_PROCESSED_HOST="host.docker.internal"
REDIS_GAMELIST_HOST="host.docker.internal"

MONGO_DB_STATISTICS_HOST="host.docker.internal"

PSQL_DB_NAME="DB_NAME"
PSQL_USERNAME="DB_USERNAME"
PSQL_PASSWORD="DB_PASS"
PSQL_HOSTNAME="host.docker.internal"
PSQL_PORT=5432

MONGO_DB_URI='mongodb://host.docker.internal:27017/'

DJANGO_SECRET_KEY='DJANGO_SECRET_KEY'
REDIS_GAMEID_LIST_HOST="host.docker.internal"
REDIS_GAMEID_LIST_DB="12"
LOL_STATS_API_KEY="LOL_STATS_API_KEY"
